@model HomeIndexViewModel
@{
    ViewBag.Title = "Home - Restuarant";
}
<h1>@Model.MessageOfTheDay</h1>
<hr />
<div>
    <h2>Restaurants</h2>
    @foreach (var restaurant in Model.Restaurants)
    {
        <div>
            @Html.Partial("_RestaurantDetails", restaurant)
        </div>
    }
</div>
<div>
    <a class="btn btn-primary" asp-action="Create">Add Restaurant</a>
</div>
