@model RestaurantViewModel
@{
    ViewBag.title = "Home - Restaurant Details";
}
<h2>Restaurant Details</h2>
<table style="border:solid">
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Address</td>
        <td>@Model.CuisineType</td>
    </tr>
</table>
<a asp-action="Index">Back</a>